#div0{
    border:1px solid #cccccc;
    width:850px;
    height:930px;
    margin:5px auto;
}


#div3{
    padding-left:40px;
    font-size:14px;
    clear:both;
    box-sizing: border-box;
}
